<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Grocery.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CF2827971BEB24F400CEA0FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF2827AB1BEB24F500CEA0FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF2827B61BEB24F500CEA0FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
